.App {
  font-family: sans-serif;
  text-align: center;
}
input{
  border: 1px solid black;
}
.input-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}